.filter_form  dl {
    display: inline-block;
}

input {
    width: 195px;
    display: inline-block;
    margin: 0 10px 10px 10px;
}

.normal {
    color: green;
}

.excess {
    color: red;
}

dl {
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

.filter_btn {
    margin-top: 10px;
}