h2, h3 {
  text-align: center;
}

.meals_header {
    font-size: 28px;
    text-align: center;
    margin-bottom: 18px;
}

.meals_table {
    margin: auto;
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
}

.meals_table thead tr {
    color: #ffffff;
    font-weight: bold;
    background: #00bf80;
    padding: 5px 20px;
}

.meals_table thead tr td, th  {
    padding: 5px 15px;
    border: 1px solid #01ab73;
}

.meals_table tbody tr td {
    padding: 5px 15px;
    border: 1px solid #bec7d8;
}

.meals_table tbody tr:nth-child(2n) {
    background: #f4f4f4;
}

.meals_table tbody tr:hover {
    background: #ebffe8;
}

.meal_red {
    color: red;
}

.meal_green {
    color: forestgreen;
}

.control_buttons {
    margin-top: 15px;
    text-align: center;
}